<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Calendar</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <header>
        <!-- Common header/navigation -->
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="My Calendar Logo" class="logo-icon">
            </div>
            <div class="menu">
                <a href="/" class="home-button">
                    <img src="{% static 'images/home.png' %}" alt="Home" class="nav-icon">
                </a>
                <a href="/settings/" class="settings-button">
                    <img src="{% static 'images/settings.png' %}" alt="Settings" class="nav-icon">
                </a>
                <a href="/profile/" class="profile-button">
                    <img src="{% static 'images/profile.png' %}" alt="Sign Out" class="nav-icon">
                </a>
            </div>
        </nav>
    </header>

    <!-- This is where the unique page content will go -->
    {% block content %}
    {% endblock %}

    <footer>
        <!-- Common footer -->
        <p>© 2024 test footer</p>
    </footer>
</body>
</html>
