/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

* {
  overflow: visible;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



